# Haskell
/dist-newstyle
cabal.project.local
*.eventlog
*.o
*.hp

# Haskell test suite
/eventlog-socket-tests.log

# Doxygen
/docs/html

# C
/.clangd

# VSCode
/.vscode

# Python
__pycache__
.ruff_cache
.venv
dist
*.egg-info
